# =========================
# GROOVY BUILD FILES
# =========================
target/
build/
out/

# =========================
# IDE FILES
# =========================

.idea/
*.iml
.vscode/

.project
.classpath
.settings/

# =========================
# LOGS
# =========================
*.log
logs/

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# TEMP FILES
# =========================
tmp/
temp/

# =========================
# JENKINS TESTING
# =========================
workspace/

# =========================
# ENV / SECRETS
# =========================
.env
.env.*
